# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Gambit

dist /dependencies/GambitDep/GambitDep.dist https://raw.githubusercontent.com/OpenEngineDK/dependencies-GambitDep/master/GambitDep.dist
dist /extensions/Assimp/Assimp.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist
dist /extensions/BulletPhysics/BulletPhysics.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-BulletPhysics/master/BulletPhysics.dist

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git     /projects/MeroonDemo https://github.com/OpenEngineDK/projects-MeroonDemo.git
git-dev /projects/MeroonDemo git@github.com:OpenEngineDK/projects-MeroonDemo.git

# required extensions
git 	   /extensions/OpenGLRenderer		https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
darcs-dev  /extensions/OpenGLRenderer		fh.cs.au.dk:/users/cgd/code/extensions/OpenGLRenderer
#git /extensions/OBJResource            	https://github.com/OpenEngineDK/extensions-OBJResource.git
#git /extensions/TGAResource            	https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/FreeImage              	https://github.com/OpenEngineDK/extensions-FreeImage.git

any /resources      http://www.openengine.dk/data/projects/DragonPanic/Dragon.zip

