# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Gambit

dist /dependencies/GambitDep/GambitDep.dist http://openengine.dk/code/dependencies/GambitDep/GambitDep.dist
dist /extensions/Assimp/Assimp.dist http://openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/BulletPhysics/BulletPhysics.dist http://openengine.dk/code/extensions/BulletPhysics/BulletPhysics.dist

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs     /projects/MeroonDemo http://openengine.dk/code/projects/MeroonDemo
darcs-dev /projects/MeroonDemo fh.daimi.au.dk:/users/cgd/code/projects/MeroonDemo

# required extensions
darcs 	   /extensions/OpenGLRenderer		http://openengine.dk/code/extensions/OpenGLRenderer
darcs-dev  /extensions/OpenGLRenderer		fh.cs.au.dk:/users/cgd/code/extensions/OpenGLRenderer
#darcs /extensions/OBJResource            	http://openengine.dk/code/extensions/OBJResource
#darcs /extensions/TGAResource            	http://openengine.dk/code/extensions/TGAResource
darcs /extensions/FreeImage              	http://openengine.dk/code/extensions/FreeImage

any /resources      http://www.openengine.dk/data/projects/DragonPanic/Dragon.zip

