# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Gambit

dist /dependencies/GambitDep/GambitDep.dist http://openengine.dk/code/dependencies/GambitDep/GambitDep.dist

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs     /projects/MeroonDemo http://openengine.dk/code/projects/MeroonDemo
darcs-dev /projects/MeroonDemo fh.daimi.au.dk:/users/cgd/code/projects/MeroonDemo

# required extensions
darcs 	   /extensions/OpenGLRenderer		http://openengine.dk/code/extensions/OpenGLRenderer
darcs-dev  /extensions/OpenGLRenderer		fh.cs.au.dk:/users/cgd/code/extensions/OpenGLRenderer
